// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
/* @import '~bootstrap/scss/bootstrap'; */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
@import './component/float_button.scss';
@import './component/owl_carusel';

.preview_admin {
    max-width: 300px !important;
    max-height: 120px !important;
    object-fit: cover;
}

.addScroll {
  overflow-y: auto !important;
}

.removeScroll {
  overflow-y: none !important;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33 !important; 
    border-radius: 25px !important;
  }
.parallax-window {
  min-height: 400px;
  background: transparent;
}

.video-responsive , .laravel-embed__responsive-wrapper{
  padding-bottom: 10px !important;
}

/* .laravel-embed__responsive-wrapper > iframe {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
} */

.content-product{
  text-align: center;
  height: 200px;
  
}

.img-product{
  max-height: 200px;
  max-width: 100%;
  object-fit: fill;
}

.logo{
  max-height: 80px;
  max-width: 100%;
  object-fit: fill;
}

.content-description{
  height: 80px;
}

.pointer {
  cursor: pointer;
}

#modal-product-description{
  text-align: left !important;
}

.title-header p{
  margin-bottom: 0px !important;
}

.btn-whatsapp {
  display:block;
  width:70px;
  height:70px;
  color: #fff;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25% !important;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 15px;
	}

  #create-domain{
    z-index: 9999 !important;
  }

  #title-modal-product{
    width: 100%;
    text-align: center;
  }
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';