// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
/* @import '~bootstrap/scss/bootstrap'; */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
@import './component/float_button.scss';
@import './component/owl_carusel';

.preview_admin {
    max-width: 300px !important;
    max-height: 120px !important;
    object-fit: cover;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33 !important; 
    border-radius: 25px !important;
  }
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';